.pokemonDetail {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.pokemonDetail img {
	position: absolute;
	width: 40%;
}

/* Passt das für alle Pokemon?? */
.imgBackground {
	top: 100px;
	background: var(
		--bgGradient,
		linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 203, 5, 1) 66%)
	);
	width: 220px;
	height: 110px;
	margin: 4vh auto;
	border-radius: 20px;
	transition: all 0.5s ease-in;
}

.pokemonType {
	display: flex;
}

/* Für den Darkmode */
/* .darkImgBackground {
	background: var(--bgGradient);
	transition: all 1s ease-in;
} */
