.pokemonList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5rem;
}

.container {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.container ~ .pokemonList {
	margin-top: 0;
}

h5 {
	font-size: 1.5rem;
	text-align: center;
	margin: 1rem 2rem;
}

.pokemonFilter p {
	margin: 1rem 2rem;
}

.pokemonList button {
	border: 3px solid #2c72b8;
	font-size: 1rem;
	background-color: #ffcb05;
	padding: 0.3rem 2rem;
	border-radius: 10px;
	color: #2c72b8;
	font-family: "Roboto Black";
	width: 180px;
	cursor: pointer;
	margin-bottom: 1rem;
}
