nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	gap: 1rem;
	position: fixed;
	top: 115px;
	right: 0;
	left: 0;
	/* background-color: #ccdadd; */
	background-color: var(--bgColor, #ccdadd);
	z-index: 20;
	transition: all 1s ease-in;
}

input[type="search"] {
	background-color: #ebebeb;
	border: none;
	border-radius: 50px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	width: 100%;
}

.darkmodeBtn{
	background: no-repeat url(../../images/mode.svg);
	border: none;
	width: 30px;
}

.darkmodeBtn:hover{
	cursor: pointer;
}