nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	gap: 1rem;
	position: fixed;
	top: 115px;
	right: 0;
	left: 0;
	background-color: #ccdadd;
	z-index: 1;
}

input[type="search"] {
	background-color: #ebebeb;
	border: none;
	border-radius: 50px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	width: 100%;
}
