.pokemonFilter {
	background-color: #ccdadd;
	position: absolute;
	top: 0;
	display: none;
	bottom: 0;
	left: 0;
	right: 0;
}

.pokemonFilter .nav {
	display: flex;
	justify-content: space-between;
	margin: 1.5rem 1.5rem;
}

h2 {
	text-align: center;
}

.pokemonFilter article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 2rem 4rem;
	gap: 1rem;
}
