.pokemonFilter {
	background-color: #ccdadd;
	position: fixed;
	width: 100vw;
	top: 0;
	bottom: 0;
	right: 0;

	animation: fly 0.3s ease-in-out;
	overflow: hidden;
	z-index: 10;
	height: 100vh;
	text-align: center;
}

.pokemonFilter .nav {
	display: flex;
	justify-content: space-between;
	margin: 1.5rem 1.5rem;
}

h2 {
	text-align: center;
}

.pokemonFilter article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 2rem 4rem;
	gap: 1rem;
}
.searchButton {
	border: 3px solid #2c72b8;
	font-size: 1.5rem;
	background-color: #ffcb05;
	padding: 0.3rem 2rem;
	border-radius: 10px;
	color: #2c72b8;
	font-family: "Roboto Black";
	width: 180px;
	cursor: pointer;
}

.searchButton:hover {
	transform: translateY(2px);
}

@keyframes fly {
	from {
		transform: translateX(-500px);
	}
	to {
		transform: translateX(0);
	}
}
