header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 4vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background-color: var(--bgColor, #ccdadd);
	z-index: 10;
}
