/* font family
font-family: 'Roboto Regular', serif;
font-family: 'Roboto Black', serif; */

@font-face {
	font-family: "Roboto Regular";
	src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto Black";
	src: url(./fonts/Roboto/Roboto-Black.ttf);
}

/* Global Style */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-family: "Roboto Black", serif;
	color: #ffcb05;
	-webkit-text-stroke: 1px #2c72b8;
}

p {
	font-family: "Roboto Regular", serif;
	background: linear-gradient(#ffe1c6, #ffcb05);
	border-radius: 20px;
}

body{
	background-color: #CCDADD;
}

/* für den dark-Mode */

.darkBackground {
	background: #212121;
}

.darkArticle {
	background: linear-gradient(#bfdfff, #001224);
}
